BASE_URL="https://localhost:3000"
DEV_CERT_PATH="./localhost.pem"
DEV_CERT_KEY_PATH="./localhost-key.pem"
GA_MEASUREMENT_ID="G-XXXXXXXXXX"
NODE_ENV="development"
NODE_TLS_REJECT_UNAUTHORIZED="0"
SSR="true"