//
// variables
// --------------------------------------------------

// Breakpoints
// ❗ Values should be same as in `@/entities/theme/breakpoint`

$breakpoint-2xs: 360px;
$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-2xl: 1920px;
