//
// main.scss
// --------------------------------------------------

@use './tailwind';
@use './globals';
@use './fonts';

body {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  /* For better font rendering on web */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  @apply bg-gray-600 text-white;
}

// App

html,
body {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#__nuxt {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

// Typography

.break-words {
  word-break: break-word;
}

// Sizing

.fullscreen {
  @apply h-screen;

  @supports (height: 100dvh) {
    @apply h-dvh;
  }
}

// Position

.absolute-middle {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
